.container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.searchInput {
    max-width: 250px;
}

.select {
  display: flex;
  height: 2.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--input);
  background-color: var(--background);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}